html 
{
    touch-action: manipulation;
}

.wrapper_container 
{
    display: inline-block;
}

.tetris_container 
{
    display: flex;
    flex-direction: row;
    margin: 10px;
    background-color: #333333;
}

.tetris_panel_container 
{
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    color: white;
    background-color: #333333;
}

.tetris_panel_controll_wrapping 
{
    flex-grow: 1;
}

.tetris_panel_container p 
{
   margin: 0;
   padding: 0;
}

.tetris_controll_panel 
{
    border-style: none;
    width: 100%;
}

.tetris_controll 
{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: #444444;
}